article{
border-radius: 5px;
border: 1px solid blue;
height: 50px;
margin-top: 10px;
width: 150px;




}
#uno{

  background: red;
  background: -o-linear-gradient(rgb(255,0,0,1),rgba(255,255,0,1));
  background: -webkit-linear-gradient(rgb(255,0,0,1),rgba(255,255,0,1));
  background: -moz-linear-gradient(rgb(255,0,0,1),rgba(255,255,0,1));
  background:  -ms-linear-gradient(rgb(255,0,0,1),rgba(255,255,0,1));
  background: linear-gradient(rgb(255,0,0,1),rgba(255,255,0,1));
}
#dos{
background: red;
background: -o-linear-gradient(to left ,red,yellow);
background: -webkit-linear-gradient(to left ,red,yellow);
background: -moz-linear-gradient(to left ,red,yellow);
background:  -ms-linear-gradient(to left ,red,yellow);
background: linear-gradient(to left ,red,yellow);





}
#tres{
background: red;
background: -o-linear-gradient(to right ,red,yellow);
background: -webkit-linear-gradient(to right ,red,yellow);
background: -moz-linear-gradient(to right ,red,yellow);
background:  -ms-linear-gradient(to right ,red,yellow);
background: linear-gradient(to right ,red,yellow);







}
#cuatro{


background: red;
background: -o-linear-gradient(to right bottom ,red,yellow);
background: -webkit-linear-gradient(to right bottom ,red,yellow);
background: -moz-linear-gradient(to right bottom ,red,yellow);
background:  -ms-linear-gradient(to right bottom ,red,yellow);
background: linear-gradient(to right bottom ,red,yellow);







}

#cinco{

background: red;
background: -o-linear-gradient(to left bottom ,red,yellow);
background: -webkit-linear-gradient(to left bottom ,red,yellow);
background: -moz-linear-gradient(to left bottom ,red,yellow);
background:  -ms-linear-gradient(to left bottom ,red,yellow);
background: linear-gradient(to left bottom ,red,yellow);





}




