






#resumen,#experimento,#pruebas,#resultados,#conclusiones
{

color: tomato;


}

section:not(#referencias){



color: hotpink;






}
li:nth-child(even){ /* impares*/
color: blue;


}
li:nth-child(5){

color: red;


}
li:nth-last-child(1){

color: yellow;


}
p:first-line{

font-weight: bold;



}