body{	
font size:  16px;
max-width: 1078px;
min-width: 1078px

margin:0 auto;






}
header input{
float: right;
margin-right: -200px;
position: relative;
}

#granthams{
margin-top: 25px;
margin-left: 25px;


}
#paint{



float: right;

}